body {
    background-color: #ECDBAB;
}

.activities-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-and-log {
    min-width: 400px;
    margin-top: 20px;
    padding: 20px;
    background-color: #FDF4DC;
    border-radius: 5px;
}

.button-and-log a {
    color: black;
    text-decoration: none;
    font-size: xx-large;
}

.activity {
    margin-top: 20px;
    display: flex;
    border-bottom: 2px solid black;
}
.activity p {
    margin-right: 50px;
    width: 20%;
}