body {
    background-color: #CBD3A3;
}

.form-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myForm {
    background-color: #9EA778;
    padding: 20px;
    border-radius: 5px;
    font-size: larger;

}

#myForm button {
    width: 200px;
    background-color: #717754;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: large;
    text-decoration: none;
    border-radius: 5px;
    border: none;
}

#myForm button:hover {
    cursor: pointer;
}

#response {
    margin-top: 20px;
}